*{
  width: 0 auto;
}

body{
  background-color: #E5E9F2;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.cabecera{
  width: 100%;
  height: 80px;
  background-color:   #E5E9F2;
  /*FF62B1;*/
}
.titulo{
  float: left;
  text-align: center;
  color: #47525E;
  /*font-size: 2em;*/
}
.menu{
  clear: all;
  float: right;
  color: #47525E;
}

.menu ul {
  list-style: none;
}
.menu ul li{
  display: inline-block;
  padding: 5px;
}


.eventos{
  position: fixed;
  width: 35%;
  height: 85%;
  right:0;
  background-color: #47525E;
  color: white;
  padding: 6px;
  overflow-y: scroll;
}

.eventos p{
  color: white;
}
.eventos a{
  color: white;
}
.detalles{
  position: fixed;
  width: 65%;
  height: 75%;
  left:0;
  padding: 6px;
  overflow-y: scroll;
  top: 150px;


}

.closenews{
  float: right;
}
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 35px;
  color: white;
  text-align: center;
  background-color: black;
}

.patrocinadores{
  margin: 15px;
  position: absolute;
  top: 150px;
}
/* Propuesta página actividades Yuliana */


h3{ font-size: 1.6em; padding: 2% 0; border-bottom: dotted 1px #77cfe7; margin-bottom: 2%; font-weight: bolder; color: #00a7e4}
.actividad{ overflow: hidden;}
.actividad div{ width: 40%; float: left; margin-bottom: 5%;}
p{ font-size: 1.2em; color: #4d5a64; text-align:left; text-decoration-style: wavy; line-height: normal;  margin: 3% 0;}
.enlace_fecha{font-size: 1em; color:#015989;}
.imagen img{ margin-top: 10%;}
.hora{font-size: 1em; color:#D85100;}


/* JULIÁN */

h2{
  color: #ff8400;
}

.img-portada{
  height: 200px;
  width: 350px;
}
/* COLORES */

/*
#ff2e9d (Rosa fuerte)

#ff8400(Naranja)

#00a93c(Verde)

#00a7e4(Azul)

#ff1319(Rojo)

#ffffff(Gris)
*/
